<?xml version="1.0"?>
<ruleset name="SMG Site Suite">
  <description>Blocking WordPress security and interoperability standards for SMG Site Suite.</description>

  <file>smg-site-suite.php</file>
  <file>includes</file>
  <file>src</file>

  <arg name="extensions" value="php"/>
  <arg name="basepath" value="."/>
  <arg name="colors"/>

  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>tests/*</exclude-pattern>

  <rule ref="WordPress.Security"/>
  <rule ref="WordPress.DB.PreparedSQL"/>
  <rule ref="WordPress.DB.DirectDatabaseQuery"/>
  <rule ref="WordPress.WP.I18n"/>
  <rule ref="WordPress.PHP.DevelopmentFunctions"/>
  <rule ref="WordPress.PHP.DiscouragedPHPFunctions"/>
  <rule ref="WordPress.NamingConventions.PrefixAllGlobals"/>
</ruleset>
